/* Variables */

:root {
    --basic-black: #000000;
    --basic-blue: #81B3D2;
    --darker-blue: #669EC0;
    --darkest-blue: #5496BD;
    --basic-white: #ffffff;
    --background-grey: #F2F2F2;
    --background-darker-grey: #EBEBEB;
    --triangle-grey: #CACACA;
    --basic-grey: #666666;
    --dark-grey: #333333;
    --plus-minus-calendar-grey: #A9A9A9;
    --checkbox-block-grey: #6A6A6A;
    --range-circle-grey: #ABABAB;
    --brown: #766357;
    --darker-brown: #604E43;
    --darsest-brown: #503E33;
    --main-page-grey: #EEEEEE;
  }

.main-body {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase; 
}

a {
    text-decoration: none;
  }

.navigation-wrapper {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
  }
  
.navigation-list {
    list-style: none;
  }

.about-sedona {
    line-height: 26px;
    font-weight: normal;
    align-items: center;
    text-align: center;
    background-color: var(--basic-white);
  }

.about-sedona_title {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
  }

.about-sedona_text {
    font-size: 14px;
    color: var(--dark-grey);
  }

.first-reason {
    font-weight: normal;
    color: var(--basic-white);
    align-items: center;
    text-align: center;
    background-color: var(--basic-blue);
  }

.first-reason_title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-white);
  }

.first-reason_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
  }

.interesting-list {
    list-style: none;
    background-color: var(--basic-white);
  }

.interesting-list_title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-black);
  }

.interesting-list_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dark-grey);
}

.second-reason {
  font-weight: normal;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  background-color: var(--basic-blue);
}

.second-reason_title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.second-reason_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.reasons-list {
    list-style: none;
    background-color: var(--main-page-grey);
  }

.reasons-list_title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.reasons-list_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--dark-grey);
}

.search {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search_button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--brown);
 }

.main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

.contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

.networks_list {
    list-style: none;  
  }

.developer {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }
  
/*Hotels page*/

.hotels-body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.navigation-item_hotels {
  color: var(--brown);
}

.search-filter {
  background-color: var(--dark-grey);
}

.search-results {
  list-style: none;
}

.search-results_text {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
}

.search-results_title {
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: var(--basic-black);
}

.search-results_item {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
}

.search-results_sort_up {
  color: var(--triangle-grey);
}

.search-results_sort_down {
  color: var(--basic-blue);
}

.hotels_title {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
}

.hotels_text {
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: var(--dark-grey);
}

.hotels-button {
font-weight: bold;
font-size: 14px;
line-height: 21px;
color: var(--basic-white);
}

.hotels-button_light {
  background-color: var(--basic-blue);
}

.hotels-button_dark {
  background-color: var(--brown);
}

.hotels_rating {
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: var(--basic-grey);
background-color: var( --background-grey);
}