/* Variables */

:root {
    --basic-black: #000000;
    --basic-blue: #81B3D2;
    --darker-blue: #669EC0;
    --darkest-blue: #5496BD;
    --basic-white: #ffffff;
    --background-grey: #F2F2F2;
    --background-darker-grey: #EBEBEB;
    --triangle-grey: #CACACA;
    --basic-grey: #666666;
    --dark-grey: #333333;
    --plus-minus-calendar-grey: #A9A9A9;
    --checkbox-block-grey: #6A6A6A;
    --range-circle-grey: #ABABAB;
    --brown: #766357;
    --darker-brown: #604E43;
    --darsest-brown: #503E33;
    --main-page-grey: #EEEEEE;
  }

.main-body {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase; 
}

.center {
  width: 1280px;
  margin: 0 auto;
}

a {
    text-decoration: none;
  }

/* Grid */

.page {
  height: 100%;
  width: auto;
  min-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

.page-body {
  min-height: 100%;
}

.main-header {
  margin-bottom: 77.35px;
}

/* Main navigation */


.navigation-wrapper {
    background-color: var(--basic-white);
   
  }
  
.navigation-list {
    list-style: none;
    display: flex;
   padding: 15px 15px;
   margin-left: 72px;
  }

  .navigation-item {
    display: flex;
    width: 100%;
  }

.navigation-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.navigation-link:hover {
  font-weight: bold;
font-size: 14px;
line-height: 26px;
color: var(--basic-blue);
}

.navigation-link:active {
  font-weight: bold;
font-size: 14px;
line-height: 26px;
color: var(--basic-black);
mix-blend-mode: normal;
opacity: 0.3;
}

.about-sedona {
    line-height: 26px;
    font-weight: normal;
    align-items: center;
    text-align: center;
    background-color: var(--basic-white);
    width: auto;
  height: 216px;
  }

.about-sedona_title {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
  }

.about-sedona_text {
    font-size: 14px;
    color: var(--dark-grey);
  }

.first-reason_columns {
  display: grid;
  grid-template-columns: 1fr 800px;
}

.first-reason {
    font-weight: normal;
    color: var(--basic-white);
    align-items: center;
    text-align: center;
    background-color: var(--basic-blue);
  }

.first-reason_title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-white);
  }

.first-reason_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
  }

.interesting-list {
    list-style: none;
    background-color: var(--basic-white);
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
  text-align: center;
  }

.interesting-list_title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-black);
  }

.interesting-list_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dark-grey);
}

.second-reason_columns {
  display: grid;
  grid-template-columns: 800px 1fr;
}

.second-reason {
  font-weight: normal;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-blue);
}

.second-reason_title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.second-reason_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.reasons-list {
    list-style: none;
    background-color: var(--main-page-grey);
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
  margin-top: 0px;
  text-align: center;
  }

.reasons-list_title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.reasons-list_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--dark-grey);
}

.search {
  height: 291px;
  background-color: var(--basic-white);
  text-align: center;
}

.search_title {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
}

.search_text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--dark-grey);
}

.search_button {
  width: 568px;
  height: 86px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--brown);
  text-transform: uppercase; 
 }

 .search_button:hover {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--darker-brown);
  text-transform: uppercase; 
 }

 .search_button:active {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--darsest-brown);
  color: rgba(255,255,255,0.3);
  text-transform: uppercase; 
 }

.map {
  text-align: center;
}

.main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

.contacts_link {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  }

.contacts_text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts_phone {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.networks_list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .networks_item {
    padding-right: 6px;
  }

.networks_icon {
  
}

.copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }
  
.networks_icon {
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.networks_icon:hover {
  background-color: var(--darker-blue);
}

.networks_icon:active {
  background-color: var(--darkest-blue);
}

/*Hotels page*/

.hotels-body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.navigation-item_hotels {
  font-weight: bold;
font-size: 14px;
line-height: 26px;
  color: var(--brown);
}

.search-filter {
  background-color: var(--dark-grey);
}

.search-results_text {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
}

.search-results_title {
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: var(--basic-black);
}

.search-results_list {
  list-style: none;
}

.search-results_item {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.search-results_link {
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: var(--basic-black);
mix-blend-mode: normal;
opacity: 0.3;
}

.search-results_link.active {
  font-weight: normal;
font-size: 12px;
line-height: 18px;
color: var(--basic-blue);
}

.search-results_link:hover {
  font-weight: normal;
font-size: 12px;
line-height: 18px;
color: var(--basic-blue);
}

.search-results_link:active {
  font-weight: normal;
font-size: 12px;
line-height: 18px;
color: var(--basic-black);
}

.search-results_link.active {
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: var(--basic-blue);
}

.search-results_sort {
  list-style: none;
  color: var(--triangle-grey);
}

.sort_up:before {
  content: "\25B2";
}

.sort_up:hover {
  color: var(--basic-black);
}

.sort_up:active {
  color: var(--basic-blue);
}

.sort_down:before {
  content: "\25BC";
  color: var(--basic-blue);
}

.hotels_list {
  list-style: none;
}

.hotels_item {
  display: grid;
  grid-template-columns: 135px 1fr 1fr;
  grid-template-rows: 150px;
  column-gap: 29px;
}

.hotels_title {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
}

.hotels_title:hover {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-blue);
}

.hotels_title:active {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
mix-blend-mode: normal;
opacity: 0.3;
}

.hotels_text {
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: var(--dark-grey);
}

.hotels-button {
font-weight: bold;
font-size: 14px;
line-height: 21px;
color: var(--basic-white);
}

.hotels-button_light {
  background-color: var(--basic-blue);
}

.hotels-button_light:hover {
  background-color: var(--darker-blue);
}

.hotels-button_light:active {
  background-color: var(--darkest-blue);
  color: rgba(255,255,255,0.3);
}

.hotels-button_dark {
  background-color: var(--brown);
}

.hotels-button_dark:hover {
  background-color: var(--darker-brown);
}

.hotels-button_dark:active {
  background-color: var(--darsest-brown);
  color: rgba(255,255,255,0.3);
}

.hotels_rating {
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: var(--basic-grey);
background-color: var( --background-grey);
}